<a href="https://colab.research.google.com/github/rngiovanna4/EduacationalDataMining/blob/main/MDDesempenho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arquivo de código criado para realização de testes ⏳

Base utilizada:
https://www.kaggle.com/datasets/aljarah/xAPI-Edu-Data

Tutorial de limpeza dos dados:
https://www.datacamp.com/tutorial/tutorial-data-cleaning-tutorial

Tutorial Árvore de Decisão:
https://www.datacamp.com/tutorial/decision-tree-classification-python

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier #A técnica
from sklearn.model_selection import train_test_split #Função para dividir em traino e teste
from sklearn import metrics #Desse import vem as metricas para validar os resultados
#PCA algoritmo para pesquisar / evaluate()

#**Nível**

In [ ]:
base = pd.read_csv("Edu-Data.csv")

In [ ]:
base.corr()

<ipython-input-88-2031aea24313>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  base.corr()

,raisedhands,VisITedResources,AnnouncementsView,Discussion
raisedhands,1.000000,0.691572,0.643918,0.339386
VisITedResources,0.691572,1.000000,0.594500,0.243292
AnnouncementsView,0.643918,0.594500,1.000000,0.417290
Discussion,0.339386,0.243292,0.417290,1.000000

#Nível 2

In [ ]:
base.isnull().sum() #verificar os nulos

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [ ]:
for i in base.duplicated(): #verificar se há duplicados
    if i:
      print(i)

True
True

In [ ]:
base = base.drop_duplicates() #remover duplicado

In [ ]:
for i in enumerate(base.duplicated()):
    if i[1]:
        print(i)

(326, True)
(327, True)

In [ ]:
base.iloc[325:329, : ] #aqui reduz a tabela FORMATO: base.iloc[ linha_i : linha_f , coluna_i : coluna_f]

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
325,M,Syria,Syria,lowerlevel,G-02,A,French,S,Father,27,20,33,35,No,Bad,Under-7,M
326,M,Jordan,Jordan,lowerlevel,G-02,A,French,F,Father,10,15,10,21,No,Bad,Above-7,L
327,M,Jordan,Jordan,lowerlevel,G-02,A,French,S,Father,30,10,20,5,No,Bad,Above-7,L
328,F,Jordan,Palestine,lowerlevel,G-02,A,French,F,Mum,80,77,63,83,Yes,Good,Under-7,M

In [ ]:
base.iloc[:,-1].value_counts() #Para saber a quantidade total de classes da base

M    211
H    142
L    125
Name: Class, dtype: int64

In [ ]:
#O SMOT para balancear

In [ ]:
base = pd.DataFrame(pd.get_dummies(base, columns=["Topic"])) #Para formatar colunas com mais de dois valores

In [ ]:
base.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Semester,Relation,raisedhands,VisITedResources,...,Topic_Chemistry,Topic_English,Topic_French,Topic_Geology,Topic_History,Topic_IT,Topic_Math,Topic_Quran,Topic_Science,Topic_Spanish
0,M,KW,KuwaIT,lowerlevel,G-04,A,F,Father,15,16,...,0,0,0,0,0,1,0,0,0,0
1,M,KW,KuwaIT,lowerlevel,G-04,A,F,Father,20,20,...,0,0,0,0,0,1,0,0,0,0
2,M,KW,KuwaIT,lowerlevel,G-04,A,F,Father,10,7,...,0,0,0,0,0,1,0,0,0,0
3,M,KW,KuwaIT,lowerlevel,G-04,A,F,Father,30,25,...,0,0,0,0,0,1,0,0,0,0
4,M,KW,KuwaIT,lowerlevel,G-04,A,F,Father,40,50,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
base.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 478 entries, 0 to 479
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    478 non-null    object
 1   NationalITy               478 non-null    object
 2   PlaceofBirth              478 non-null    object
 3   StageID                   478 non-null    object
 4   GradeID                   478 non-null    object
 5   SectionID                 478 non-null    object
 6   Semester                  478 non-null    object
 7   Relation                  478 non-null    object
 8   raisedhands               478 non-null    int64
 9   VisITedResources          478 non-null    int64
 10  AnnouncementsView         478 non-null    int64
 11  Discussion                478 non-null    int64
 12  ParentAnsweringSurvey     478 non-null    object
 13  ParentschoolSatisfaction  478 non-null    object
 14  StudentAbsenceDays        478 non-null    object
 15  Class                     478 non-null    object
 16  Topic_Arabic              478 non-null    uint8
 17  Topic_Biology             478 non-null    uint8
 18  Topic_Chemistry           478 non-null    uint8
 19  Topic_English             478 non-null    uint8
 20  Topic_French              478 non-null    uint8
 21  Topic_Geology             478 non-null    uint8
 22  Topic_History             478 non-null    uint8
 23  Topic_IT                  478 non-null    uint8
 24  Topic_Math                478 non-null    uint8
 25  Topic_Quran               478 non-null    uint8
 26  Topic_Science             478 non-null    uint8
 27  Topic_Spanish             478 non-null    uint8
dtypes: int64(4), object(12), uint8(12)
memory usage: 69.1+ KB

In [ ]:
#Dividindo a base em variaveis independentes e variaveis dependentes
independentes = ['gender',	'NationalITy',	'PlaceofBirth',	'StageID',	'GradeID',	'SectionID',	'Topic',	'Semester',	'Relation',	'raisedhands',	'VisITedResources',	'AnnouncementsView',	'Discussion',	'ParentAnsweringSurvey',	'ParentschoolSatisfaction','StudentAbsenceDays']
x = base[independentes]
y = base.Class

In [ ]:
#Dividindo a base entre traino e teste
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [ ]:
#Criando o objeto de classificação da árvore de decisão
clf = DecisionTreeClassifier()

#treinando
clf = clf.fit(x_train, y_train)

#prevendo a resposta para os dados de teste
y_pred = clf.predict(x_test)

ValueError: ignored

In [ ]:
#Para verificar se o classificador realizou a predição corretamente:
print ("Accuracy:", metrics.accuracy_score(y_test, y_pred))